$active: #60e30b;
$background: #85ca59;
.sp-filter-option-list .item {
  border-radius: 5px;
  background: $background;
  cursor: pointer;
  max-width: 100px;
  &.active {
    background: $active;
  }
}
